body {
  background-color: #e1ffb1;
  text-align: center;
  font-family: "Merriweather", serif;
  margin: 0;
}
p {
  line-height: 2;
}
span {
  font-weight: bold;
}
h1 {
  color: #7fb77e;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  /* 100%=16px  */
  line-height: 2;
  margin: 50px auto 0 auto;
}
h2 {
  color: #7fb77e;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h3,
a {
  color: #9eb23b;
  font-family: "Montserrat Alternates", sans-serif;
}
hr {
  border: dotted white 3px;
  border-bottom: none;
  width: 2%;
  margin: 75px auto 75px auto;
}
button {
  background-color: #c7f2a4;
  border-radius: 10px;
  height: 2.5rem;
  width: 10%;

  margin: 2.5rem auto 2.5rem auto;
  cursor: pointer;
  border-style: none;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
}
button:hover {
  width: 15rem;
  height: 5rem;
  color: black;
}

.top-container {
  background-color: #e1ffb1;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.middle-container {
  background-color: #b6e388;
}
.introduction {
  width: 45%;
  margin: auto;
  color: #7fb77e;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
.intro {
  width: 25%;
  margin: auto;
}

.bottom-container {
  height: 5.25rem;
  background-color: #fcffb2;
  padding: 50px 0 20px;
}
.footer-link {
  padding: 0 2rem 0 2rem;
  text-decoration: none;
}
.footer-link:hover {
  color: #f1a661;
}
.copy-right {
  font-size: 0.75rem;
  padding: 20px 0px;
}
.ecommerce {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.java {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 45%;
}
.contact-message {
  margin: 40px auto 40px auto;
  width: 23%;
}

.btn {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  margin: 8px;
}
/* .web-desc{
  clear:left;
}
.java-desc{
  clear: right;
} */

/* notes */
/* # margin auton on the left and right brings the div to the center */
/* # the float property helps to wrap any element to left , right ,center etc
float is the most used and missused css so angela suggests to use float only when we want to wrap any element around
a certain element */
/* # the clear css clears the css applied */
